<!DOCTYPE html>
<html>
  <head>
    <title>MuralPaySpa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <div id="flash-container">
        <%= render "shared/flash" %>
      </div>
      
      <%= yield %>
    </div>
  </body>
</html>
